@import "variables/variables";

.header__menu 
ul {
    li {
        a {
        text-decoration: none;
        color: $color-black;
        font-weight: bold;
        font-size: $text-nav;
        :hover {
            color: green;
        }
    }
}
}