#formulario {
    background-image: $background-image;
    background-repeat: $background-repeat;
    background-size: $background-size;
    background-position: $background-position;
    height: $height;
    display: $display;
    flex-flow:$flex-flow;
    justify-content: $justify-content;
    align-items: $align-items;
    width: $width;
    .formulario__title {
        h2 {
            color: white;
            font-size: 30px;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
        }
    }
    .txt1 {
        width: 12.2em;
    }
    .txt2 {
        width: 12.5em;
    }
    .mail {
        width: 25em;
    }
    .cons {
        width: 25em;
        height: 5em;
    }
}