#video {
    background-color: white;
    display: none;
    gap: 10px;
    padding: 10px;
    grid-template-areas:"vid1 vid2"
                        "text1 text2";
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    
    iframe {
         .video__1 {
            margin: 30px 30px;
            grid-area: vid1;
            width: 100%;
        }
        .video__2 { 
            margin: 30px 30px;
            grid-area: vid2;
            width: 100%;
        }
    } 
    .video__text1 {
        color: black;
        grid-area: text1;
        width: 700px;
        width: 100%;
        text-align: center;
        max-width: 530px;
    }
    .video__text2 {
        color: black;
        grid-area: text2;
        width: 700px;
        width: 100%;
        text-align: center;
        max-width: 530px;
    }
    #video {
        display: none;
        gap: 10px;
        padding: 10px;
        grid-template-areas:"vid1 vid2"
                        "text1 text2";
        justify-items:stretch;
        align-items: stretch;
        justify-content: space-evenly;
        align-content: center;
        justify-items: center;
    }
} 

