@media (max-width: 420px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        font-family: $font-family;
        width: 100vh;
      }
      #grid-skt {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 530px 85px;
        grid-template-rows: auto auto auto auto;
        height: auto;
      }
    #header1 {
        display: none;
    }
    #header2 {
        display: flex;
    }
    #grid-skt {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 530px 85px;
        grid-template-rows: auto auto auto auto;
        height: auto;
      }
    #video {
        background-color: white;
        display: grid;
        gap: 10px;
        padding: 10px;
        grid-template-areas:"vid1"
                            "text1" 
                            "vid2"
                            "text2";
        align-items: stretch;
        justify-content: space-evenly;
        align-content: center;
        justify-items: center;
        iframe {
            .video__1 {
               margin: 30px 30px;
               grid-area: vid1;
               width: 100%;
           }
           .video__2 { 
               margin: 30px 30px;
               grid-area: vid2;
               width: 100%;
           }
       } 
       .video__text1 {
           color: black;
           grid-area: text1;
           width: 700px;
           width: 100%;
           text-align: center;
           max-width: 530px;
       }
       .video__text2 {
           color: black;
           grid-area: text2;
           width: 700px;
           width: 100%;
           text-align: center;
           max-width: 530px;
       }
    
    }
    #intro, #intro2 {
        background-image: $background-image;
      background-repeat: $background-repeat;
      background-size: $background-size;
      background-position: $background-position;
      height: 55em;
      display: flex;
      flex-flow:$flex-flow;
      justify-content: $justify-content;
      align-items: $align-items;
      width: 164vh;
      .intro2__text-1 { 
        p {
            color: white;
            max-width: 15em;
            width:100% ;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-weight: bold;
        }
    }
    }
    #formulario {
        background-image: $background-image;
      background-repeat: $background-repeat;
      background-size: $background-size;
      background-position: $background-position;
      height: 50em;
      display: flex;
      flex-flow:$flex-flow;
      justify-content: $justify-content;
      align-items: $align-items;
      width: 164vh;
    }
    #intro3 {
        background-image: $background-image;
      background-repeat: $background-repeat;
      background-size: $background-size;
      background-position: $background-position;
      height: 55em;
      display: flex;
      flex-flow:$flex-flow;
      justify-content: $justify-content;
      align-items: $align-items;
      width: fit-content;
    }
      .intro__flecha { 
          img {
              width: 90px;
              transform: translate(0, 225px);
              animation-name: mi-flecha;
              animation-duration: 1.5s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
          }
      }
      .formulario__title {
        h2 {
            color: white;
            font-size: 30px;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
        }
    }
    .txt1 {
        width: 12.2em;
    }
    .txt2 {
        width: 12.5em;
    }
    .mail {
        width: 25em;
    }
    .cons {
        width: 25em;
        height: 5em;
    }
    #footer {
        background-color:rgb(233, 233, 233);
        display: flex;
        justify-content: space-between;
        color: black;
        width: 100%;
        .footer__redes {
            float: left;
            padding: 10px;
            font-size: 15px;
            h4 {
                font-size: 15px;
            
            a {
                text-decoration: none;
                color: black;
                list-style: none;
                font-size: 15px;
                &:hover {
                    color: bisque;
                }
            }
        }
        }
        .footer__servicios {
            float: right;
            padding: 10px;
            h4 {
                margin-left: 100px;
                font-size: 15px;
            }
            p {
                font-size: 15px;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    &:hover {
                        color: bisque;
                    }
                }
            }
        }
    }
    
}
      
