@media (max-width: 600px) {
    #header2 {
    display:flex;
    }
    #header1 {
        display:none;
    }
    #grid-skt {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 530px 85px;
        grid-template-rows: 55px auto 700px 120px;
        height: 100vh;
      }
    }