@media (max-width: 768px) {
    #header2 {
    display:flex;
    }
    #header1 {
        display:none;
    }
    #grid-skt {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 530px 85px;
        grid-template-rows: auto auto auto auto;
        height: 100vh;
      }
    #intro, #formulario, #intro2 {
      background-image: $background-image;
    background-repeat: $background-repeat;
    background-size: $background-size;
    background-position: $background-position;
    height: 40em;
    display: flex;
    flex-flow:$flex-flow;
    justify-content: $justify-content;
    align-items: $align-items;
    width: $width;
    .intro__flecha { 
        img {
            width: 90px;
            transform: translate(0, 225px);
            animation-name: mi-flecha;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    }

#video {
    background-color: white;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-areas:"vid1"
                        "text1" 
                        "vid2"
                        "text2";
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
}
}