body {
    font-family: $font-family;
  }
  #grid-skt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 530px 85px;
    grid-template-rows: auto auto auto auto;
    height: 100vh;
  }
  @keyframes mi-flecha {
    0% {
        transform: translate(0, 180px);
    }
    40% {
        transform: translate(0, 195px);
    }
    100% {
        transform: translate(0, 180px);
    }
}
section {
    background-color: white;
    h2 { 
        b {
            color: black;
            font-size: 60px;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
}